/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.docker
/html
/Dockerfile
/docker-compose.yaml
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
.env
.phpunit.result.cache
