/**
*==========================================================================================*
* Stylesheet to forms
*==========================================================================================*
*/

.success-feedback{

    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;

}

.warnig-feedback{

    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;

}

.danger-feedback{

    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;

}

/* div.dataTables_wrapper {
    width: 80%;
    margin: 0 auto;
} */

